@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");
/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Syne", sans-serif;;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: hsl(230, 16%, 72%);
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.about-section {
    margin-top: 40px;
}

.about-section h2 {
    margin-bottom: 20px;
    color: #333;
}

.about-section h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #333;
}

.about-section p {
    margin-bottom: 20px;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

